*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #eee;
}
.main{
	display: flex;
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	background-color: #fff;
	flex-wrap: wrap;
}
.item{
	max-height: 265px;
	max-width: 490px;
	width: calc(50% - 10px);
	height: calc(95vw / 2 / 16 * 9);
    margin: 5px; 
    background-color: orange;
    background-position: center center;
    background-size: cover;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.item:hover{
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
	transform: scale(1.1) ;
}
    .git-link{
    	font-size: 22px;
    	color: #000;
    	text-transform: uppercase;
    	display: block;
    	margin: 25px auto;
    	font-weight: 900;
    	transition: 0.2;
    	text-decoration: none;
    }
    .git-link:hover{
    color: orange; 
    }
@media all and (max-width: 768){
	.item{
    width: calc(95vw - 10px);
    height: calc(95vw / 16 * 9);
	filter: grayscale(0%) blur(0px);
}
.item:hover{
   box-shadow: none;
   transform: none;
   filter: none;
 }  
}